.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  min-height: 30rem;
  background-color: $dark-blue;
  border: 3px solid $dark-gray;
  outline: none;
}

.ReactModalPortal {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
}

.modal__title {
  color: $off-white;
  font-weight: 300;
}

.modal__body {
  @extend .modal__title;
  padding: 0 $m-size;
  text-align: center;
  word-break: break-all;

  span {
    font-weight: 500;
  }
}

.modal__answers {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 $l-size;

  .btn {
    padding: $s-size $m-size;
  }
}