.list-header {
  background-color: $off-white;
  display: flex;
  justify-content: space-between;
  border: 1px solid darken($off-white, 8%);
  color: $gray;
  padding: $m-size $s-size;
}

.list-body {
  margin-bottom: $l-size;

  @media (max-width: $desktop-breakpoint) {
    margin-bottom: $m-size;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $m-size;
  border: 1px solid darken($off-white, 8%);
  border-top: none;
  color: $dark-gray;
  text-decoration: none;
  transition: background-color .3s ease;

  &:hover {
    background-color: $off-white;
  }

  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    align-items: initial;
    padding: $s-size;
  }
}

.list-item__title {
  word-break: break-all;
}

.list-item__subtitle {
  color: $gray;
  font-size: $font-size-small;
}

.list-item__data {
  margin-left: $s-size;

  @media (max-width: $desktop-breakpoint) {
    margin-top: $s-size;
  }
}

.list-item--message {
  align-items: center;
  justify-content: center;
  padding: $m-size;
  color: $gray;

  &:hover {
    background: none;
  }
}