* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 $m-size;
}
