// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Color
$dark-gray: #333;
$gray: #666;
$dark-blue : rgb(36, 59, 87);
$blue: #3091BF;
$off-white: #f7f7f7;